__pycache__/
*.pyc
.env
.venv/
build/
venv/
f1_cache/
fastf1_cache/
.git/
.github/
.pytest_cache/
tests/
training/
visulizations&reports/
README.md
CONTRIBUTING.md
LICENSE
SECURITY.md
CODE_OF_CONDUCT.md